
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
 
}
h1{
    color: white;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/*--------------------*\
    banner style 
\*--------------------*/

.banner-section{
    margin-bottom: 70px;
    background-color: #2D25A0;
}
.banner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner:hover .banner-img img{
    transform: scale(1.2);
}
.banner-contant{
    
    
}
.banner-contant h1{
    width: 485px;
    font-size: 64px;
    color: white;
}
.button{
    padding: 10px 24px;
    text-decoration: none;
    color : white;
    background-color: #E02C6D;
}
.fa-arrow-right{
    margin-left: 8px;
}
.banner-img{
    width: 35%;
}
.banner-img img{
    width: 100%;
    transition: transform 1.5s;
}

/*--------------------*\
    player list style 
\*--------------------*/


.player-section{
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap:30px 5%;
}
.player{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}
.player img{
    width: 100%;
}
.player-name h3{
    font-size: 28px;
    line-height: 40px;
}

/*--------------------*\
    News style 
\*--------------------*/
.news-section{
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: lightskyblue;
}
.news-section h1{
    text-align: center;
    font-size: 40px;
}
.newses{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
.news{
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #2D25A0;
    
}
.news img{
    width: 100%;
}

/*--------------------*\
    Partnar style 
\*--------------------*/

.partner-section{
    text-align: center;
    background-color: lightskyblue;
}
.partner-section h1{
    margin: 0;
    font-size: 40px;
}
.partnar{
    padding: 40px;
    margin-bottom: 50px;
    
}



/*--------------------*\
    Footer style 
\*--------------------*/

.footer{
    text-align: center;
}
.footer img{
    width: 483.87px;
    height: 110px;
}
.social-link i{
    padding: 10px;
    margin-top: 20px;
    margin-right: 14px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: gray;
    background-color: rgb(241, 226, 226);
}
.footer p{
    font-size: 18px;
}




/*-------------------------------------------------------------------------------------*\
                                    Media  Query
\*-------------------------------------------------------------------------------------*/

/* For mobile device */

@media screen and (max-width:668px) {
    /*---------------------------- banner section------------------------- */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-contant{
        width: 100%;
    }
    .banner-contant h1{
        width: 278px;
        font-size: 36px;
    }
    .banner-img{
       width: 100%;
    }

    /*------------------------------ player-section ------------------------*/
    .players{
        grid-template-columns: 1fr;
    }
    /*------------------------------ news-section ------------------------*/
    .newses{
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .news{
        width: 100%;
        margin-bottom: 30px;
    }



    .highlight{
        flex-direction: column;
    }
    .highlight-contant{
        margin-bottom: 30px;
    }
    .highlight-contant h2{
        width: 292px;
        height: 80px;
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-contant p{
        width: 329px;
        height: 143px;
    }
    .highlight-img img{
        margin-left: 14px;
        margin-right: 16px ;
        width: 328px;
        height: 248px;
    }
    .footer img{
        width: 171px;
        height: 63px;
    }
    .social-link i{
        padding: 8px;
        margin-top: 10px;
        margin-right: 14px;
        margin-bottom: 10px;
        border-radius: 16px;
        color: gray;
        background-color: rgb(241, 226, 226);
    }


    
}
